
<div class="climashare">

    <div class="left">
        <h2 class="title">Tempo agora em</h2> 
        <h2 class="city"></h2>
    </div>

    <div class="row">
        <img src="./assets/icon/dom.svg">
        <div class="row2">
            <p class="graus">22º</p>
            <p class="legend1">Nuvens esparsas</p>
        </div>
    </div>
    
    <div class="column">
        <div class="row2">
            <h3>Sensação</h3>
            <p>22º</p>
        </div>
        
        <div class="row2">
            <h3>Sensação</h3>
            <p>69%</p>
        </div>
        
        <div class="row2">
            <h3>Pressão</h3>
            <p>919 hPa</p>
        </div>

        <div class="row2">
            <h3>Vento</h3>
            <p>6 km/h</p>
        </div>

    </div>

    <p>Atualizado em horas</p>
</div>