.title-principal {
    font-family: 'Arial', sans-serif;
    font-weight: 100px;
    font-size: 50px;
    color: white;
    text-align: center;
}

.climashare{
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: .3px;
    background-color: aliceblue;
    width: 400px;
    height: 370px;
    border: 1px solid #707070;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 4px 4px 14px 8px rgb(0, 0, 0, 0.7);
}

.left{
    justify-content: left;
}

.row{
    display: flex;
}

.row2{
    display: flex;
    flex-direction: column;
    margin: 0 14px;
}

.row2>h3{
    margin-bottom: 0px;
    margin-top: 10px;
}

.row2>p{
    text-align: center;
    color: #707070;
    font-weight: 700;
  
}

img{
    width: 145px;
    margin: 0 25px;
}


















































.title{
    color: #707070;
}

.city{
    color: #0080cd;
    font-size: 22px;
}

.graus{
    font-size: 67px;
    color: #707070;
    font-weight: 700;
    margin: 10px
}

.legend1{
    font-size: 13px;
    color: #707070;
    font-weight: 700;
    margin: 10px
}

.column{
    display: flex;
    flex-direction: row;
}