input[type="search"] {
    width: 423px;
    height: 40px;
    border-radius: 6px;
    border-style: none;
    text-align: center;
    box-shadow: 0px 1px 7px 1px rgb(0, 0, 0, 0.7);
}

input:hover{
    box-shadow: 0 0 2px #4dbede, 0 0 15px #4dbede, 0 0 15px #4dbede;
    transition-delay: 0.1s;
}
    
button{
    background-image: url(src/assets/icon/lupa.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    margin-left: 10px;
    
}

button:hover{
    box-shadow: 0 0 10px #4dbede, 0 0 40px #4dbede, 0 0 80px #4dbede;
    transition-delay: 0.1s;
    opacity: 1;
    cursor: pointer;
}

.buscar{
    display:flex;
    align-items: center;
}

